@import url('https://fonts.googleapis.com/css?family=Lato:300,500,700&display=swap');

* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}
button{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border:1px solid #aaa;
    font-size: 14px;
    padding: 1px 10px;
    border-radius: 5px;
}
button:active{
    transform: scale(0.99);
}
/* 主界面 */
#main{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("1.png");
    background-size: cover;
}

.answerWrap{
    perspective: 1000px;
    position: relative;
    width: 550px;
    height: 350px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);

}
.answer{
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);   
    border-radius: inherit;
    font-size: 1.5em;
    transition: transform 0.4s ease,opacity 0.4s ease;
}
.answer.prev{
    transform: translateX(-50%) rotateY(-10deg);
}
.answer.cur{
    opacity: 1;
    z-index: 99;
    transform: translateX(0) rotateY(0deg);
}
.answer.next{
    transform: translateX(50%) rotateY(10deg);
}
.answer .container{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer .page{
    text-align: center;
    font-weight: 600;
}
.input input{
    width: 50px;
   padding-left: 2px;
   border-radius: 5px;
   font-weight: 600;
    background-color: rgba(255, 255, 255, 0.8);
}
.input p, .input label{
    color: #fff;
    font-weight: 600;
}
span{
    color: #fff;
}
